<div class="auth-wrapper">

    <form [formGroup]="registerForm" (ngSubmit)="Register()" class="auth-card">

        <h3 class="text-center mb-4">Create Account</h3>

        <!-- Full Name -->
        <div class="mb-3">
            <label class="form-label">Full Name</label>

            <input type="text" class="form-control" formControlName="FullName" placeholder="John Doe" />

            @if (getName()?.invalid && getName()?.touched) {
            <div class="text-danger mt-1">
                @if (getName()?.errors?.['required']) {
                <small>Name is required</small>
                }
                @else if (getName()?.errors?.['minlength']) {
                <small>Minimum 10 characters required</small>
                }
            </div>
            }
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label class="form-label">Email</label>

            <input type="email" class="form-control" formControlName="Email" placeholder="example@gmail.com" />

            @if (getEmail()?.invalid && getEmail()?.touched) {
            <div class="text-danger mt-1">
                @if (getEmail()?.errors?.['required']) {
                <small>Email is required</small>
                }
                @else if (getEmail()?.errors?.['email']) {
                <small>Invalid email format</small>
                }
            </div>
            }
        </div>

        <!-- Password -->
        <div class="mb-3">
            <label class="form-label">Password</label>

            <input type="password" class="form-control" formControlName="Password" placeholder="Enter password" />

            @if (getPassword()?.invalid && getPassword()?.touched) {
            <div class="text-danger mt-1">
                @if (getPassword()?.errors?.['required']) {
                <small>Password is required</small>
                }
                @else if (getPassword()?.errors?.['minlength']) {
                <small>Minimum 8 characters required</small>
                }
            </div>
            }
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>

            <input type="password" class="form-control" formControlName="ConfirmPassword"
                placeholder="Confirm password" />

            @if (registerForm.errors?.['notMatch'] && getConfirmPassword()?.touched) {
            <div class="text-danger mt-1">
                <small>Passwords do not match</small>
            </div>
            }
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">
            Create Account
        </button>

    </form>

</div>
